<!doctype html>
<html><head><meta charset="utf-8" /><meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<title>Login</title></head>
</header>
<body>
  <main>
      <header class="page-header">
<div class="page-title">
    <h1>Welcome to codeBuddy</h1>
    <p class="subtitle">Your place to practice python coding - Edexcel exam style questions</p>
  </div>
<img src="{{ url_for('static', filename='images/logo.svg') }}" width="50%" alt="codeBuddy logo">
      </header>
    <h1>Sign in</h1>
    <form method="post" class="card" style="max-width:420px">
      <label>Email or Username<br><input name="email" required style="width:100%" /></label><br><br>
      <label>Password<br><input name="password" type="password" required style="width:100%" /></label><br><br>
      <button class="btn primary" type="submit">Sign in</button>
    </form>
    <p style="margin-top:1rem">New student? <a href="/register">Create an account</a></p>
    <p style="margin-top:.3rem">Teacher? <a href="/register-teacher">Register here</a> (invite token required)</p>
  <footer>
       &copy; 2025 codeBuddy
  </footer>

  </main>
</body></html>
